/* button styles */
#sal-button {
    align-items: center;
    background-color: #89BF04;
    border: none;
    border-radius: 50%;
    bottom: 20px;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
    color: white;
    cursor: pointer;
    display: flex;
    font-family: 'Droid Sans', sans-serif;
    height: 50px;
    justify-content: center;
    outline: none;
    position: fixed;
    right: 20px;
    width: 50px;
    z-index: 10000;
}

.sal-error {
    background-color: #A41E22 !important;
}

/* button loading spinner animation */
#sal-spinner {
    animation: spinner 4s infinite;
    border: 2px transparent solid;
    border-radius: 100px;
    border-top: 2px white solid;
    cursor: not-allowed;
    height: 26px;
    min-height: 26px;
    width: 26px;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(360deg);
    }
    50% {
        transform: rotate(720deg);
    }
    75% {
        transform: rotate(1080deg);
    }
    100% {
        transform: rotate(1440deg);
    }
}
